<section class="home-container">
  <!-- sidebar -->
  <div class="sidebar-container">
    <div class="title">Sprint 4</div>
    <div class="buttons-container">
      <div class="email-btn">
        <button (click)="toEmail()">E-mails</button>
        <mat-icon>mail</mat-icon>
      </div>
      <div class="product-btn">
        <button (click)="toProduct()">Produtos</button>
        <mat-icon>shopping_bag</mat-icon>
      </div>
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="full-content">
    <div class="tit-content">
      <span>Produtos</span>
    </div>
    <div class="fill-content">
      <div class="filter-bar">
        <div class="left-content">
          <span>Adicionar produto</span>
          <div class="inputs">
            <div>
              <span>Nome</span>
              <input type="text" placeholder="Nome" />
            </div>
            <div>
              <span>Preço</span>
              <input type="text" placeholder="Preço" />
            </div>
            <div class="description">
              <span>Descrição</span>
              <input type="text" placeholder="Descrição" />
            </div>
          </div>
        </div>
        <div class="btn-box">
          <button>Adicionar</button>
        </div>
      </div>
      <div class="body-container">
        <div *ngFor="let row of rows" class="body-content">
          <div class="row-content">
            <div class="name">
              <label>{{ row.name }}</label>
            </div>
            <div class="descriptions">
              <label>{{ row.description }}</label>
            </div>
            <div class="price">
              <span>{{ row.price }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
