<section class="home-container">
  <!-- sidebar -->
  <div class="sidebar-container">
    <div class="title">Sprint 4</div>
    <div class="buttons-container">
      <div class="email-btn">
        <button>E-mails</button>
        <mat-icon>mail</mat-icon>
      </div>
      <div class="product-btn">
        <button>Produtos</button>
        <mat-icon>shopping_bag</mat-icon>
      </div>
    </div>
  </div>

  <!-- Conteúdo -->
  <div class="full-content">
    <div class="tit-content">
      <span>Caixa de entrada</span>
    </div>
    <div class="fill-content">
      <div class="filter-bar">
        <span>Filtrar</span>
        <div>
          <input type="date" />
        </div>
      </div>
      <div class="body-content">
        <div class="row-content">
          <div class="destiny">
            <label>lucao@gmail.com</label>
            <label>Assunto</label>
          </div>
          <div class="text">
            <span>texto escrito no email aqui</span>
          </div>
          <div class="date">
            <label>30/12/2022</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
