.home-container {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100vw;

  background-color: #202126;
}

.sidebar-container {
  height: 100%;
  width: 200px;

  background-color: #2b3138;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;

  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: #dddddd;
}

.buttons-container {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .email-btn {
    margin-top: 15px;

    button {
      width: 200px;
      height: 40px;
      position: relative;

      border: 1px solid #2b3138;
      background-color: transparent;
      box-shadow: 2px 2px 6px 1px #202126;
      color: #dddddd;

      &:hover {
        background-color: rgba(255, 255, 255, 0.231);
      }
    }

    mat-icon {
      position: absolute;
      left: 30px;
      top: 143px;
      color: #dddddd;
    }
  }

  .product-btn {
    margin-top: 15px;

    button {
      width: 200px;
      height: 40px;
      position: relative;

      border: 1px solid #2b3138;
      background-color: transparent;
      box-shadow: 2px 2px 6px 1px #202126;
      color: #dddddd;

      &:hover {
        background-color: rgba(255, 255, 255, 0.231);
      }
    }

    mat-icon {
      position: absolute;
      left: 30px;
      top: 195px;
      color: #dddddd;
    }
  }
}

.full-content {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 60px 60px 0 30px;

  .tit-content {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      color: #dddddd;
      font-family: "Raleway";
      font-size: 40px;
      font-weight: 700;
    }
  }

  .filter-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 100px;

    span {
      color: #dddddd;
      font-family: "Raleway";
      font-size: 25px;
      font-weight: 500;
      margin-right: 30px;
    }

    input {
      width: 180px;
      height: 30px;
      border-radius: 10px;
      box-shadow: 2px 2px 6px 1px #3b3d44;
      border: none;
      padding: 0 10px;
      font-size: 15px;
      font-family: "Raleway";
      color: #3b3d44;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0.6;
    }
  }

  .body-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .destiny {
    display: flex;
    flex-direction: column;
  }

  .row-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
  }
}
